extends ./layout

block content
	.content.admin
		div.left.col-lg-2
			.logo Cheney3w
			div.menu-bar
				div.menu-unit
					span.glyphicon.glyphicon-home
					a(href='#') Home
				div.menu-unit
					span.glyphicon.glyphicon-pencil 
					a(href='/admin/writing') Writing
				div.menu-unit
					span.glyphicon.glyphicon-comment 
					a(href='/admin/articles') Articles
				div.menu-unit
					span.glyphicon.glyphicon-arrow-left 
					a(href='/') Return
				div.menu-unit
					span.glyphicon.glyphicon-off 
					a(href='/signout') Sign out
		div.right.col-lg-offset-2.col-lg-10
			block right