extends layout

block content
	.content.home
		div.left.col-lg-3
			.logo Cheney3w
			div.menu-bar
				div.menu-unit
					span.glyphicon.glyphicon-home 
					a(href='#') Home
				div.menu-unit
					span.glyphicon.glyphicon-user 
					a(href='#') About
		div.right.col-lg-offset-3.col-lg-9
			div.header
				div.search
					span.glyphicon.glyphicon-search
					input(type='text', placeholder='Search')
				a(href='./login') Sign in
			div.article-preview-block
				div.article-preview-unit
					div.title
						a(href='/article/1') 测试用标题
					div.article-preview  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus.
					div.time 2016.9.20
				div.article-preview-unit
					div.title
						a(href='#') 测试用标题
					div.article-preview  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus.
					div.time 2016.9.20
				div.article-preview-unit
					div.title
						a(href='#') 测试用标题
					div.article-preview  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus.
					div.time 2016.9.20
				div.article-preview-unit
					div.title
						a(href='#') 测试用标题
					div.article-preview  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus.
					div.time 2016.9.20
				div.article-preview-unit
					div.title
						a(href='#') 测试用标题
					div.article-preview  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus.
					div.time 2016.9.20
				div.article-preview-unit
					div.title
						a(href='#') 测试用标题
					div.article-preview  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus.
					div.time 2016.9.20
				div.article-preview-unit
					div.title
						a(href='#') 测试用标题
					div.article-preview  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus.
					div.time 2016.9.20
				div.article-preview-unit
					div.title
						a(href='#') 测试用标题
					div.article-preview  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus.
					div.time 2016.9.20
				div.article-preview-unit
					div.title
						a(href='#') 测试用标题
					div.article-preview  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus.
					div.time 2016.9.20
				div.article-preview-unit
					div.title
						a(href='#') 测试用标题
					div.article-preview  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus.
					div.time 2016.9.20
			div.footer
				.copyright Copyright © 2016 Cheney3w.