extends layout

block content
	script(type='text/javascript', src='/javascripts/index.js')
	.content.home
		div.left.col-lg-3
			.logo Cheney3w
			div.menu-bar
				div.menu-unit
					span.glyphicon.glyphicon-home 
					a(href='/') Home
				div.menu-unit
					span.glyphicon.glyphicon-user 
					a(href='javascript:;') About
		div.right.col-lg-offset-3.col-lg-9
			div.header
				div.search
					span.glyphicon.glyphicon-search
					input(type='text', placeholder='Search')
				case isLogin
					when 0
						a(href='/login') Sign in
					when 1
						a(href='/admin')
							span.glyphicon.glyphicon-cog
			div.article-preview-block
				each article in articles
					.article-preview-unit
						.title
							a(href='/article/' + article.id )= article.title
						.article-preview= article.articlePreview
						.time= article.time
			div.pn
				case page
					when 0
						break
					when 1
						a.next(href='/?page=' + (page+1)) Older Ariticles
					when 2
						a.prev(href='/?page=' + (page-1)) Newer Ariticles
					default
						a.prev(href='/?page=' + (page-1)) Newer Ariticles
						a.next(href='/?page=' + (page+1)) Older Ariticles
			div.footer
				.copyright Copyright © 2016 Cheney3w.