extends layout

block content
	script(type='text/javascript', src='/javascripts/index.js')
	.home
		.header
			.container-fluid.col-sm-offset-3.col-md-8
				.header-xs.visible-xs
					span.glyphicon.glyphicon-list
					aside.logo-xs Cheney3w
					span.glyphicon.glyphicon-search
				.side-bar.col-sm-2.hidden-xs
					aside.logo Cheney3w
					nav.menu-bar
						.menu-unit
							span.glyphicon.glyphicon-home 
							a(href='/') Home
						.menu-unit
							span.glyphicon.glyphicon-user 
							a(href='javascript:;') About
				.search.hidden-xs
					span.glyphicon.glyphicon-search
					input(type='text', placeholder='Search')
				.panel.panel-heading
					.panel-heading
						h3 搜索结果
					.panel-body 不好意思，还没有写过关于此类的文章（暂时只支持搜索题目）
				case isLogin
					when 0
						a.user.hidden-xs(href='/login') Sign in
					when 1
						a.user.hidden-xs(href='/admin')
							span.glyphicon.glyphicon-cog
		.main-content.container-fluid.col-sm-offset-3.col-md-8
			.article-preview-block
				each article in articles
					.article-preview-unit
						.title
							a(href='/article/' + article.id )= article.title
						.article-preview= article.preview
						.time= article.time
			.pn
				case page
					when 0
						break
					when 1
						a.next(href='/?page=' + (page+1)) Older Ariticles
					when 2
						a.prev(href='/?page=' + (page-1)) Newer Ariticles
					default
						a.prev(href='/?page=' + (page-1)) Newer Ariticles
						a.next(href='/?page=' + (page+1)) Older Ariticles
		.footer.col-sm-offset-3
			.copyright Copyright © 2016 Cheney3w.