extends ../layout

block content
	.content.article
		.header
			.logo Cheney3w
			.menu-bar
				a(href='../')
					span.glyphicon.glyphicon-home 
				a(href='../')
					span.glyphicon.glyphicon-user 
				a(href='../')
					span.glyphicon.glyphicon-font
		.article
			h1= article.title
			.time= article.time
			.article-content!= article.article
		.comment
			//- h1 发表评论
			//- form
			//- 	.form-group
			//- 		textarea.form-control
			//- 	.form-group
			//- 		label 姓名
			//- 		br
			//- 		input.form-control
			//- 	.form-group
			//- 		label 邮箱
			//- 		br
			//- 		input.form-control(type='mail')
			//- 	button.btn.btn-default 提交
			div.ds-thread(data-thread-key=article.id, data-title='test', data-url='http://wchen.me/article/1')
	script(type='text/javascript', src='/javascripts/comment.js')
	script(type='text/javascript', src='/javascripts/article.js')