extends ../layout

block content
	.content.article
		.header
			.logo Cheney3w
			.menu-bar
				a(href='../')
					span.glyphicon.glyphicon-home 
				a(href='../')
					span.glyphicon.glyphicon-user 
				a(href='../')
					span.glyphicon.glyphicon-font
		.article
			h1 测试的题目
			.time 2016.9.20
			.article-content
				div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores debitis amet architecto, odit unde adipisci illum ab cum, illo, molestias dolor quam quae praesentium quos, laborum consequatur labore assumenda quidem.
				div Maiores inventore optio dolores quis quo maxime voluptatum velit officiis dolorum quibusdam ullam commodi sunt expedita vel iusto cumque aperiam libero, ab, facere minus nisi nulla eaque temporibus, non. Sunt!
				div Laboriosam voluptatum veniam totam in eos obcaecati eaque harum, placeat alias quod odit ab laudantium tempora quasi, error rerum suscipit sint. In minima dolor porro odit inventore tenetur dicta sequi.
				div Illo ab autem vero sunt eaque aliquid debitis ex. Fugit a illum molestiae ea officia nulla mollitia, dignissimos ipsum molestias velit rerum. Itaque, asperiores quos minima fuga illum et a!
				div Hic quam veniam, dignissimos, aspernatur ut architecto dolorum laborum rem. Quis voluptate quibusdam est sint voluptatibus, excepturi facilis voluptatem! Corporis laudantium magnam, dolores voluptatum provident qui veritatis vitae mollitia maiores.
				div Perferendis, pariatur, libero. Similique, quisquam, quidem? Aut pariatur, cupiditate. Atque deleniti minima voluptates, quasi accusantium deserunt eveniet amet esse sed quae commodi nemo, ab! Reprehenderit, modi minus ea quod nam!
				div Nam similique, consequatur labore. Aperiam cumque placeat tempora, quidem at nesciunt accusamus omnis, qui porro necessitatibus aliquam non reiciendis neque doloremque dolores id suscipit laudantium tempore, nemo quisquam! Itaque, unde.
				div Accusamus, reiciendis porro! Quos esse at nesciunt neque reprehenderit fuga blanditiis inventore, eveniet numquam cumque? Maiores tenetur, maxime provident, minus id officiis facilis! Quaerat voluptas aperiam, magnam dignissimos, eligendi exercitationem.
				div Alias sequi, perferendis natus iste facilis nemo quisquam facere at quas beatae asperiores quae soluta iure dolorum, porro, eveniet ut itaque vero consequatur. Praesentium veritatis minima dignissimos eaque repellat rem.
				div Officia eveniet animi rem, impedit eum quod, molestias doloremque quisquam rerum autem esse adipisci omnis amet minima, soluta ipsum eligendi consectetur quasi consequatur atque placeat at ratione. Rerum, in, voluptatibus.
		.comment
			h1 发表评论
			form
				.form-group
					textarea.form-control
				.form-group
					label 姓名
					br
					input.form-control
				.form-group
					label 邮箱
					br
					input.form-control(type='mail')
				button.btn.btn-default 提交