extends ../admin-layout

block right
	.writing
		input.article-title(placeholder='文章的标题')
		textarea#text-input.article-content(oninput='this.editor.update', rows='16', cols='60', placeholder='文章的内容')
		#preview.preview-block
		.tool-bar
			input.timepicker(placeholder='time')
			input.datepicker(placeholder='date')
			.submit
				span.glyphicon.glyphicon-ok
			.fullscreen
				span.glyphicon.glyphicon-resize-full
	script(type='text/javascript', src='/javascripts/picker.js')
	script(type='text/javascript', src='/javascripts/picker.time.js')
	script(type='text/javascript', src='/javascripts/picker.date.js')
	script(type='text/javascript', src='/javascripts/markdown.min.js')
	script(type='text/javascript', src='/javascripts/writing.js')